name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Go Test (${{ matrix.os }} / ${{ matrix.arch }})
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            arch: x64
          - os: ubuntu-24.04
            arch: arm64
          - os: macos-13
            arch: x64
          - os: macos-14
            arch: arm64
          - os: windows-2022
            arch: x64
    runs-on:
      os: ${{ matrix.os }}
      architecture: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Run tests
        run: go test -v ./...
